<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blg | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <section class="navbar">
        <div class="container">
            <figure class="brand">
                <a href="/Home/Index/">
                    <img src="~/img/site/blg_logo.png" alt="blg" />
                </a>
            </figure>
            <nav class="nav">
                @Html.ActionLink("main", "Index", "Home")
                <div class="us"> us info 
                    <ul class="ul_us">
                        <li>@Html.ActionLink("contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("term of use", "TermOfUse", "Home")</li>
                    </ul>
                </div>
                @Html.ActionLink("you", "Contact", "Home")
                <button class="add_post">add post</button>
                @*@Html.ActionLink("add post", "", "", new { @class = "add_post" })*@
            </nav>
            <nav class="small_nav">
                <div class="view_small_nav">
                    Menu
                    
                    <ul class="ul_small_nav">
                        <li>@Html.ActionLink("main", "Index", "Home")</li>
                        <li>@Html.ActionLink("contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("term of use", "TermOfUse", "Home")</li>
                    </ul>
                </div>
                <button class="add_post">add post</button>
            </nav>
        </div>
    </section>
    <section class="breadCrumbs">
        <ul class="ulbreadCrumbs">
            <li class="breadCrumbsMain"><a href="/Home/Index">main</a></li>
            <li class="breadCrumbsArticle"><a href="#">>article</a></li>
            <li class="breadCrumbsContact"><a href="/Home/Contact">>contact us</a></li>
            <li class="breadCrumbsTermOfUse"><a href="/Home/TermOfUse">>term of use</a></li>
        </ul>
    </section>
    <section class="body-content">
        @RenderBody()

        <hr />
        <footer>
            <div class="social-container">
		        <div class="links">
			        <a href="#" data-type="twitter" data-url="http://sonnyt.com/prettySocial" data-description="Custom share buttons for Pinterest, Twitter, Facebook and Google Plus." data-via="sonnyt" class="prettySocial fa fa-twitter"></a>

			        <a href="#" data-type="facebook" data-url="http://sonnyt.com/prettySocial" data-title="BLG - New generation block." data-description="New generation block." data-media="http://sonnyt.com/assets/imgs/prettySocial.png" class="prettySocial fa fa-facebook"></a>

			        <a href="#" data-type="googleplus" data-url="http://sonnyt.com/prettySocial" data-description="Custom share buttons for Pinterest, Twitter, Facebook and Google Plus." class="prettySocial fa fa-google-plus"></a>
			
			        <a href="#" data-type="pinterest" data-url="http://sonnyt.com/prettySocial" data-description="Custom share buttons for Pinterest, Twitter, Facebook and Google Plus." data-media="http://sonnyt.com/assets/imgs/prettySocial.png" class="prettySocial fa fa-pinterest"></a>

			        <a href="#" data-type="linkedin" data-url="http://sonnyt.com/prettySocial" data-title="prettySocial - custom social share buttons." data-description="Custom share buttons for Pinterest, Twitter, Facebook and Google Plus." data-via="sonnyt" data-media="http://sonnyt.com/assets/imgs/prettySocial.png" class="prettySocial fa fa-linkedin"></a>
		        </div>
            </div>
            <p>blg &copy; @DateTime.Now.Year</p>
        </footer>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/addPost_logic.js"></script>
    <script src="~/Scripts/jquery.prettySocial.min.js"></script>
    <script type="text/javascript" class="source">
        $('.prettySocial').prettySocial();
    </script>

</body>
</html>
